<div class="container cont">
    <div class="login-container">
        <div class="bg-white rounded-4 shadow-5-strong p-5 div-form">
            <h2 class="title">{{title}}</h2>
            <hr id="separator">
            <div [class]="(isEdit)?'none':'row options'">
                <div class="col">
                    <input id="empleado" [value]="1" [(ngModel)]="sh" name="sh" type="radio" [checked]="isChecked" (click)="resetForm()">
                    <label for="empleado">Empleado</label>
                </div>
                <div class="col">
                    <input id="empleador" [value]="0" [(ngModel)]="sh" name="sh" type="radio" [checked]="!isChecked" (click)="resetForm()">
                    <label for="empleador">Empleador(a)</label>
                </div>
            </div>
            <div class="container form-register">
                <div class="div"></div>
                <div class="text-center" *ngIf="sh == 1">
                    <div class="row">
                        <div class="col-4">
                            <img id="photo" [src]="imgSrc" (click)="fileUploader.click()" alt="">
                            <div class="alert-danger" *ngIf="isEmpty(employeed.photo!)">
                                <div class="container-error-message" *ngIf="isEmpty(employeed.photo!)">
                                    Se Requiere Foto
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="form-floating mb-3">
                                <input type="text" [(ngModel)]="employeed.name" class="form-control" id="floatingInput" placeholder="
                                Nombre de Usuario">
                                <label for="floatingInput">*Nombre de Usuario</label>
                                <div class="alert-danger" *ngIf="!validates(0) || isEmpty(employeed.name)">
                                    <div class="container-error-message" *ngIf="isEmpty(employeed.name)">
                                        Se Requiere Nombre de Usuario
                                    </div>
                                    <div class="container-error-message" *ngIf="!validates(0) &&  !isEmpty(employeed.name)">
                                        El Nombre de Usuario debe Contener Únicamente Letras, Espacios, Comas, Apóstrofos y Guiones.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating mb-3 mt-3">
                                        <input type="text" [(ngModel)]="employeed.email" class="form-control" id="email" placeholder="Ingrese Correo Electrónico"
                                            name="email">
                                        <label for="email">*Correo Electrónico</label>
                                    </div>
                                    <div class="alert-danger" *ngIf="!validates(1) || isEmpty(employeed.email)">
                                        <div class="container-error-message" *ngIf="isEmpty(employeed.email)">
                                            Se Requiere Correo Electrónico
                                        </div>
                                        <div class="container-error-message" *ngIf="!validates(1) && !isEmpty(employeed.email)">
                                            Correo Electrónico no Válido
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating mt-3 mb-3">
                                        <input type="password" [(ngModel)]="employeed.password" class="form-control" id="pwd" placeholder="Ingrese Contraseña"
                                            name="pswd">
                                        <label for="pwd">*Contraseña</label>
                                        <div class="alert-danger" *ngIf="!validates(2) || isEmpty(employeed.password)">
                                            <div class="container-error-message" *ngIf="isEmpty(employeed.password)">
                                                Se Requiere Contraseña
                                            </div>
                                            <div class="container-error-message" *ngIf="!validates(2) && !isEmpty(employeed.password)">
                                                La contraseña debe contener al menos 8 caracteres, al menos una letra mayúscula, una letra minúscula y un número.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" [(ngModel)]="employeed.phone" class="form-control" id="floatingInput" placeholder="
                                        Número de Teléfono">
                                <label for="floatingInput">*Número de Teléfono</label>
                                <div class="alert-danger" *ngIf="!validates(3) || isEmpty(employeed.phone)">
                                    <div class="container-error-message" *ngIf="isEmpty(employeed.phone)">
                                        Se Requiere Número de Teléfono
                                    </div>
                                    <div class="container-error-message" *ngIf="!validates(3) && !isEmpty(employeed.phone)">
                                        El Número de Teléfono debe Contener solo 10 Números.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mb-3 mt-3">
                                <input type="text" [(ngModel)]="employeed.cc" class="form-control" id="cc" placeholder="Ingrese Cédula" name="cc">
                                <label for="cc">*CC</label>
                                <div class="alert-danger" *ngIf="!validates(4) || isEmpty(employeed.cc)">
                                    <div class="container-error-message" *ngIf="isEmpty(employeed.cc)">
                                        Se Requiere Cédula
                                    </div>
                                    <div class="container-error-message" *ngIf="!validates(4) && !isEmpty(employeed.cc)">
                                        Cédula Debe Contener solo Números
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mt-3 mb-3">
                                <input type="date" [(ngModel)]="employeed.expDate" class="form-control" id="pwd" placeholder="Ingrese Fecha de Expedición"
                                    name="pswd">
                                <label for="pwd">*Fecha de Expedición</label>
                                <div class="alert-danger" *ngIf="isEmpty(employeed.expDate)">
                                    <div class="container-error-message" *ngIf="isEmpty(employeed.expDate)">
                                        Se Requiere Fecha de Expedición
                                    </div>
                                    <!-- <div class="container-error-message" *ngIf="!validates(5) && !isEmpty(employeed.expDate)">
                                        Expedition Date must be a valid date
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-floating">
                        <textarea class="form-control" [(ngModel)]="employeed.experience" placeholder="Ingrese la Experiencia Laboral"
                            id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">*Experiencia Laboral</label>
                        <div class="alert-danger" *ngIf="isEmpty(employeed.experience!)">
                            <div class="container-error-message" *ngIf="isEmpty(employeed.experience!)">
                                Se Requiere Experiencia Laboral
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Ingrese Referencias Laborales"
                            id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Referencias Laborales</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <textarea class="form-control" [(ngModel)]="employeed.others" placeholder="Ingrese Otra Información que Considere"
                            id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Otros Detalles</label>
                    </div>
                </div>
                <div class="text-center" *ngIf="sh == 0">
                    <img id="photo" [src]="imgSrc" (click)="fileUploader.click()" alt="">
                    <div class="alert-danger" *ngIf="isEmpty(employeed.photo!)">
                        <div class="container-error-message" *ngIf="isEmpty(employeed.photo!)">
                            Se Requiere Foto
                        </div>
                    </div>
                    <div class="container form-inputs">
                        <br>
                        <div class="form-floating mb-3">
                            <input type="text" [(ngModel)]="employeed.name" class="form-control" id="floatingInput" placeholder="
                                    Ingrese Nombre de Usuario">
                            <label for="floatingInput">*Nombre de Usuario</label>
                            <div class="alert-danger" *ngIf="!validates(0) || isEmpty(employeed.name)">
                                <div class="container-error-message" *ngIf="isEmpty(employeed.name)">
                                    Se Requiere Nombre de Usuario
                                </div>
                                <div class="container-error-message" *ngIf="!validates(0) && !isEmpty(employeed.name)">
                                    El Nombre de Usuario debe Contener Únicamente Letras, Espacios, Comas, Apóstrofos y Guiones.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3 mt-3">
                                    <input type="text" [(ngModel)]="employeed.email" class="form-control" id="email" placeholder="Ingrese Correo Electrónico"
                                        name="email">
                                    <label for="email">*Correo Electrónico</label>
                                    <div class="alert-danger" *ngIf="!validates(1) || isEmpty(employeed.email)">
                                        <div class="container-error-message" *ngIf="isEmpty(employeed.email)">
                                            Se Requiere Correo Electrónico
                                        </div>
                                        <div class="container-error-message" *ngIf="!validates(1) && !isEmpty(employeed.email)">
                                            Correo Electrónico no Válido
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-floating mt-3 mb-3">
                                    <input type="password" [(ngModel)]="employeed.password" class="form-control" id="pwd" placeholder="Ingrese Contraseña"
                                        name="pswd">
                                    <label for="pwd">*Contraseña</label>
                                    <div class="alert-danger" *ngIf="!validates(2) || isEmpty(employeed.password)">
                                        <div class="container-error-message" *ngIf="isEmpty(employeed.password)">
                                            Se Requiere Contraseña
                                        </div>
                                        <div class="container-error-message" *ngIf="!validates(2) && !isEmpty(employeed.password)">
                                            La contraseña debe contener al menos 8 caracteres, al menos una letra mayúscula, una letra minúscula y un número.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" [(ngModel)]="employeed.phone" class="form-control" id="floatingInput" placeholder="
                                    ingrese Número de Teléfono">
                            <label for="floatingInput">*Número de Teléfono</label>
                            <div class="alert-danger" *ngIf="!validates(3) || isEmpty(employeed.phone)">
                                <div class="container-error-message" *ngIf="isEmpty(employeed.phone)">
                                    Se Requiere Número de Teléfono
                                </div>
                                <div class="container-error-message" *ngIf="!validates(3) && !isEmpty(employeed.phone)">
                                    El Número de Teléfono debe Contener solo 10 Números.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3 mt-3">
                                    <input type="text" [(ngModel)]="employeed.cc" class="form-control" id="cc" placeholder="Ingrese Cédula" name="cc">
                                    <label for="cc">*CC</label>
                                    <div class="alert-danger" *ngIf="!validates(4) || isEmpty(employeed.cc)">
                                        <div class="container-error-message" *ngIf="isEmpty(employeed.cc)">
                                            Se Requiere Cédula
                                        </div>
                                        <div class="container-error-message" *ngIf="!validates(4) && !isEmpty(employeed.cc)">
                                            Cédula Debe Contener solo Números
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mt-3 mb-3">
                                    <input type="date" [(ngModel)]="employeed.expDate" class="form-control" id="pwd" placeholder="Ingrese Fecha de Expedición"
                                        name="pswd">
                                    <label for="pwd">*Fecha de Expedición</label>
                                    <div class="alert-danger" *ngIf="isEmpty(employeed.expDate)">
                                        <div class="container-error-message" *ngIf="isEmpty(employeed.expDate)">
                                            Se Requiere Fecha de Expedición
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" [(ngModel)]="employeed.address" class="form-control" id="floatingInput" placeholder="
                                    Ingrese Dirección">
                            <label for="floatingInput">*Dirección</label>
                            <div class="alert-danger" *ngIf="isEmpty(employeed.address)">
                                <div class="container-error-message" *ngIf="isEmpty(employeed.address)">
                                    Se Requiere Dirección
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-floating">
                            <textarea [(ngModel)]="employeed.others" class="form-control" placeholder="Ingrese Prospectos de Trabajos"
                                id="floatingTextarea"></textarea>
                            <label for="floatingTextarea">Prospectos de Trabajos</label>
                        </div>
                    </div>
                </div>
                <div class="form-floating">
                    <label class="form-label" for="floatingInput"></label>
                    <input type="file" accept="image/*" class="form-control input-image" id="floatingInput" #fileUploader [(ngModel)]="employeed.photo" (change)="showPreview($event)">
                </div>
                <div *ngIf="isEdit">
                    <label class="form-label" for="floatingInput">Status</label>
                    <select class="form-select" aria-label="Default select example" id="floatingInput" [(ngModel)]="employeed.status">
                        <option value="Ocupado">Ocupado</option>
                        <option value="Libre">Libre</option>
                    </select>
                </div>
                <small class="text-muted">Campos Marcados con [*] son Obligatorios. </small>
                <small class="text-muted">Aceptas las Condiciones de uso, la <a routerLink="/privacy-policy">Política de Privacidad</a> y la Política de Tratamiento de Datos Personales.</small>
                <br>
                <input type="submit" class="btn btn-success" (click)="submit()" [value]="btn">
            </div>
            <hr id="separator" *ngIf="!isEdit">
            <div class="div-register" *ngIf="!isEdit">
                <p>¿Tiene una Cuenta?<a class="pr" (click)="login()"> Inicia Sesión Aquí</a>.</p>
            </div>
        </div>
    </div>
</div>