<nav class="navbar navbar-expand-lg navbar-light bg-info p-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">DomestiApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2" routerLink="/profiles">Perfiles / Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" routerLink="/offers">Ofertas / Empleadores</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto" *ngIf="isLogged">

                <!-- Show notifications -->
                <li class="nav-item dropdown">
                    <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-bell fa-bounce fa-xs"></i> Notificaciones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li *ngFor="let notification of notifications">
                            <a class="dropdown-item" (click)="viewNotification(notification)">{{notification.date}}</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li *ngFor="let notificationA of notificationsA">
                            <a class="dropdown-item"
                                (click)="viewNotificationAccepted(notificationA)">{{notificationA.date}}</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user fa-bounce fa-xs"></i> {{name}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" (click)="settingProfile()">Ajustes</a></li>
                        <li><a class="dropdown-item" (click)="signOut()">Salir</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto" *ngIf="!isLogged">
                <li class="nav-item">
                    <a class="nav-link mx-2" routerLink="/sign-in">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" routerLink="/sign-up">Regístrate</a>
                </li>
            </ul>
        </div>
    </div>
</nav>